# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
HW05/.vs/HW05/CopilotIndices/17.14.698.11175/CodeChunks.db
HW05/.vs/HW05/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
HW05/.vs/HW05/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
HW05/.vs/HW05/CopilotIndices/17.14.698.11175/SemanticSymbols.db
HW05/.vs/HW05/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
HW05/.vs/HW05/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
HW05/.vs/HW05/FileContentIndex/00df1b5a-58d7-4604-b16e-88ed1eeefdb2.vsidx
HW05/.vs/HW05/FileContentIndex/1639096a-be84-47b8-9c91-4d6da7bb2acb.vsidx
HW05/.vs/HW05/FileContentIndex/226dcfad-ba2a-4cbf-ac44-70ce59d91659.vsidx
HW05/.vs/HW05/FileContentIndex/2c4704a9-c14b-4fa9-8e64-6b38f95fa7b0.vsidx
HW05/.vs/HW05/FileContentIndex/2dc3bd6e-b9ff-45bb-8f77-ebcbbd456078.vsidx
HW05/.vs/HW05/FileContentIndex/2f160585-a703-4524-ace4-17ef0e76c426.vsidx
HW05/.vs/HW05/FileContentIndex/4a68370a-fc67-4f25-9ee0-d3e9233c2536.vsidx
HW05/.vs/HW05/FileContentIndex/65827da9-7a21-4d04-ae5c-01932a82ab9e.vsidx
HW05/.vs/HW05/FileContentIndex/7681e3d2-686d-4e6c-b207-231776a38ff7.vsidx
HW05/.vs/HW05/FileContentIndex/7aa43d5b-e879-46c5-9e7d-14c6ae8c81c8.vsidx
HW05/.vs/HW05/FileContentIndex/7cb87ab0-95df-4994-bc22-fbd0c6014742.vsidx
HW05/.vs/HW05/FileContentIndex/8f4e2ea0-d3c1-4e75-b21d-fd83072fc435.vsidx
HW05/.vs/HW05/FileContentIndex/9089df6e-b5e4-4d0f-8f85-1e712254c8d8.vsidx
HW05/.vs/HW05/FileContentIndex/a3226a21-a9e8-4b69-88a5-d09c0c4e3566.vsidx
HW05/.vs/HW05/FileContentIndex/a3efe907-8e6b-4938-a618-8e2770065965.vsidx
HW05/.vs/HW05/FileContentIndex/a92f5022-1080-4045-9d29-66772b1c892e.vsidx
HW05/.vs/HW05/FileContentIndex/ae28d56c-2752-43d0-b533-dbb5df084e42.vsidx
HW05/.vs/HW05/FileContentIndex/be94238e-4be3-4467-919a-08dee50633a5.vsidx
HW05/.vs/HW05/FileContentIndex/ca777c68-cef9-4149-9930-80e3d3025863.vsidx
HW05/.vs/HW05/FileContentIndex/cfeeac2a-3dba-469b-b0b6-c94ca82fe375.vsidx
HW05/.vs/HW05/FileContentIndex/d56f1760-72fc-4565-96e5-0acc3e7e450d.vsidx
HW05/.vs/HW05/FileContentIndex/ea25a47a-75c7-4f5a-a074-978514c2e0ee.vsidx
HW05/.vs/HW05/FileContentIndex/ee9ccbd2-443b-40a7-8d9c-161b9a8359fa.vsidx
HW05/.vs/HW05/FileContentIndex/f3550091-495f-40b1-808c-48542537d5dc.vsidx
HW05/.vs/HW05/v17/.suo
HW05/.vs/HW05/v17/Browse.VC.db
HW05/.vs/HW05/v17/Browse.VC.db-shm
HW05/.vs/HW05/v17/Browse.VC.db-wal
HW05/.vs/HW05/v17/Browse.VC.opendb
HW05/.vs/HW05/v17/DocumentLayout.backup.json
HW05/.vs/HW05/v17/DocumentLayout.json
HW05/.vs/HW05/v17/ipch/d6edeb8d7d973f60.ipch
HW05/.vs/HW05/v17/Solution.VC.db
HW05/.vs/HW05/v17/Solution.VC.db-shm
HW05/.vs/HW05/v17/Solution.VC.db-wal
HW05/.vsconfig
HW05/Binaries/Win64/HW05Editor.target
HW05/Binaries/Win64/UnrealEditor-HW05.exp
HW05/Binaries/Win64/UnrealEditor-HW05.patch_0.exp
HW05/Binaries/Win64/UnrealEditor-HW05.patch_0.pdb
HW05/Binaries/Win64/UnrealEditor-HW05.pdb
HW05/Binaries/Win64/UnrealEditor.modules
HW05/Config/DefaultEditor.ini
HW05/Config/DefaultEngine.ini
HW05/Config/DefaultGame.ini
HW05/Config/DefaultInput.ini
HW05/HW05.sln
HW05/HW05.uproject
HW05/Source/HW05Editor.Target.cs
HW05/Source/HW05/HW05.h
HW05/Source/HW05/HW05.cpp
HW05/Source/HW05/HW05.Build.cs
HW05/Source/HW05.Target.cs
HW05/Saved/UnrealBuildTool/BuildConfiguration.xml
HW05/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_c1ff929ae6e37fb4/Default/DDCKey-Editor.txt
HW05/Saved/Logs/HW05_2.log
HW05/Saved/Logs/HW05.log
HW05/Saved/Config/WindowsEditor/GameUserSettings.ini
HW05/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
HW05/Saved/Config/CrashReportClient/UECC-Windows-DC53995F4AA6E02AA2AEB79009FE5B1C/CrashReportClient.ini
HW05/Saved/Config/CrashReportClient/UECC-Windows-5631DC5C46284BCF1225048C688223AE/CrashReportClient.ini
HW05/Saved/Autosaves/PackageRestoreData.json
HW05/Intermediate/TargetInfo.json
HW05/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
HW05/Intermediate/ReimportCache/3688439234.bin
HW05/Intermediate/ProjectFiles/UECommon.props
HW05/Intermediate/ProjectFiles/UE5.vcxproj.user
HW05/Intermediate/ProjectFiles/UE5.vcxproj.filters
HW05/Intermediate/ProjectFiles/UE5.vcxproj
HW05/Intermediate/ProjectFiles/HW05.vcxproj.user
HW05/Intermediate/ProjectFiles/HW05.vcxproj.filters
HW05/Intermediate/ProjectFiles/HW05.vcxproj
HW05/Intermediate/ProjectFiles/AutomationTool.csproj.References
HW05/Intermediate/PipInstall/pyreqs_plugins.list
HW05/Intermediate/PipInstall/merged_requirements.in
HW05/Intermediate/PipInstall/Lib/site-packages/plugin_site_package.pth
HW05/Intermediate/PipInstall/extra_urls.txt
HW05/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
HW05/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
HW05/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
HW05/Intermediate/CachedAssetRegistry_0.bin
HW05/Intermediate/Build/XmlConfigCache.bin
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/UnrealEditor-HW05.lib.rsp.old
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/UnrealEditor-HW05.lib.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/UnrealEditor-HW05.exp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/UnrealEditor-HW05.dll.rsp.old
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/UnrealEditor-HW05.dll.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/PerModuleInline.gen.cpp.sarif
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/PerModuleInline.gen.cpp.obj.rsp.lc
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/PerModuleInline.gen.cpp.obj.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/PerModuleInline.gen.cpp.dep.lc.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/PerModuleInline.gen.cpp.dep.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/PerModuleInline.gen.cpp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/LiveCodingInfo.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.Shared.rsp.old
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.Shared.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.init.gen.cpp.sarif
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.init.gen.cpp.obj.rsp.lc
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.init.gen.cpp.obj.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.init.gen.cpp.dep.lc.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.cpp.sarif
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.cpp.obj.rsp.lc
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.cpp.obj.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.cpp.dep.lc.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.cpp.dep.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.gen.cpp.sarif
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.gen.cpp.obj.rsp.lc
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.gen.cpp.obj.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.gen.cpp.dep.lc.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.cpp.sarif
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.cpp.obj.rsp.lc
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.cpp.obj.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.cpp.dep.lc.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/Definitions.HW05.h
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/Default.rc2.res.rsp
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/Default.rc2.res
HW05/Intermediate/Build/Win64/x64/UnrealEditor/ActionHistory.bin
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.h.sarif
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.h.dep.json
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedDefinitions.UnrealEd.RTTI.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedDefinitions.UnrealEd.Project.ValApi.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/UnrealEd/SharedDefinitions.UnrealEd.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/TargetMetadata.dat
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Slate/SharedPCH.Slate.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Slate/SharedPCH.Slate.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Slate/SharedPCH.Slate.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Slate/SharedDefinitions.Slate.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Makefile.bin
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedPCH.Engine.Project.ValApi.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedPCH.Engine.Project.ValApi.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedPCH.Engine.Project.ValApi.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedPCH.Engine.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedPCH.Engine.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedPCH.Engine.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedDefinitions.Engine.Project.ValApi.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Engine/SharedDefinitions.Engine.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/DependencyCache.bin
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedDefinitions.CoreUObject.RTTI.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/CoreUObject/SharedDefinitions.CoreUObject.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedPCH.Core.RTTI.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedPCH.Core.Cpp20.h.obj.rsp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedPCH.Core.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedPCH.Core.Cpp20.cpp
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedDefinitions.Core.RTTI.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/Development/Core/SharedDefinitions.Core.Cpp20.h
HW05/Intermediate/Build/Win64/x64/HW05Editor/ActionHistory.bin
HW05/Intermediate/Build/Win64/UnrealEditor/Inc/HW05/UHT/Timestamp
HW05/Intermediate/Build/Win64/UnrealEditor/Inc/HW05/UHT/HW05Classes.h
HW05/Intermediate/Build/Win64/UnrealEditor/Inc/HW05/UHT/HW05.init.gen.cpp
HW05/Intermediate/Build/Win64/UnrealEditor/Inc/HW05/UHT/HW.generated.h
HW05/Intermediate/Build/Win64/UnrealEditor/Inc/HW05/UHT/HW.gen.cpp
HW05/Intermediate/Build/Win64/HW05Editor/Development/HW05Editor.uhtpath
HW05/Intermediate/Build/Win64/HW05Editor/Development/HW05Editor.uhtmanifest
HW05/Intermediate/Build/Win64/HW05Editor/Development/HW05Editor.deps
HW05/Intermediate/Build/Win64/ActionHistory.bin
HW05/Intermediate/Build/SourceFileCache.bin
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/project.nuget.cache
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/project.assets.json
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/HW05ModuleRules.csproj.nuget.g.targets
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/HW05ModuleRules.csproj.nuget.g.props
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/HW05ModuleRules.csproj.nuget.dgspec.json
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/Development/HW05ModuleRules.GeneratedMSBuildEditorConfig.editorconfig
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/Development/HW05ModuleRules.csproj.AssemblyReference.cache
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/Development/HW05ModuleRules.assets.cache
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/Development/HW05ModuleRules.AssemblyInfoInputs.cache
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/Development/HW05ModuleRules.AssemblyInfo.cs
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/obj/Development/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
HW05/Intermediate/Build/BuildRulesProjects/HW05ModuleRules/HW05ModuleRules.csproj
HW05/Intermediate/Build/BuildRules/HW05ModuleRulesManifest.json
HW05/Intermediate/Build/BuildRules/HW05ModuleRules.pdb
HW05/.vs/HW05/DesignTimeBuild/.dtbcache.v2
HW05/.vs/HW05/FileContentIndex/6537a0e5-069f-4077-99ca-e4d9e06a4547.vsidx
HW05/.vs/HW05/FileContentIndex/d9ef46d9-724e-4fe3-a912-37505c6d17e1.vsidx
HW05/.vs/HW05/v17/.futdcache.v2
HW05/.vs/HW05/v17/fileList.bin
HW05/.vs/ProjectEvaluation/hw05.metadata.v9.bin
HW05/.vs/ProjectEvaluation/hw05.projects.v9.bin
HW05/.vs/ProjectEvaluation/hw05.strings.v9.bin
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.cpp.dep.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW.gen.cpp.dep.json
HW05/Intermediate/Build/Win64/x64/UnrealEditor/Development/HW05/HW05.init.gen.cpp.dep.json
HW05/Saved/AutoScreenshot.png
HW05/Saved/Config/CrashReportClient/UECC-Windows-C2E54EB54E242D09E1E695B978F1DE83/CrashReportClient.ini
HW05/Saved/Config/WindowsEditor/Editor.ini
HW05/Saved/Logs/HW05-backup-2025.06.16-05.27.27.log
